<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yeungeek.tk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".VpnApp"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <action android:name="android.net.vpn.SETTINGS"/>
                <category android:name="com.android.settings.SHORTCUT" />
                category android:name="android.intent.category.DEFAULT" / -->
            </intent-filter>
        </activity>
        <activity android:name=".ui.VpnListActivity" />
    </application>

</manifest>